/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgba(214, 202, 206, 0.512);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(252, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 1900px;
    background-color: rgb(33, 35, 34);
    border-width: 3px;
    border-style: none;
    border-radius: 10px;
    border-color: rgb(232,232,232);
    margin: 5px
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:1755px;
    border-width: 05px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    margin: 50px
    
    
    

    
}
    

